# Python (кэш компиляции)

**pycache**/ \*.py\[cod\] \*$py.class

# Виртуальные окружения (все популярные имена)

venv/ .venv/ env/ ENV/

# Настройки IDE и редакторов

.idea/ .vscode/ .history/

# Специфичный мусор от Neovim

\*.swp \*.swo .netrwhist

# Системный мусор Linux / CachyOS

.DS\_Store Thumbs.db

