annotated-types==0.7.0
apparmor==4.1.7
apsw==3.53.2.0
argcomplete==3.6.3
attrs==26.1.0
autocommand==2.2.2
beautifulsoup4==4.15.0
Brotli==1.2.0
brotlicffi==1.2.0.1
btrfsutil==7.0
cbor2==6.1.2
certifi==2026.5.20
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.3.3
contourpy==1.3.3
cryptography==48.0.0
css-parser==1.1.1
cssselect==1.4.0
cycler==0.12.1
dbus-python==1.4.0
defusedxml==0.7.1
Deprecated==1.3.1
distlib==0.4.2
distro==1.9.0
dnspython==2.8.0
evdev==1.9.3
faust-cchardet==2.1.19
feedparser==6.0.12
filelock==3.29.0
fonttools==4.63.0
FVS==0.3.4
Glances==4.5.4
greenlet==3.5.1
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.1
icoextract==0.2.0
idna==3.18
ifaddr==0.2.0
inflate64==1.0.4
jaconv==0.5.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
kiwisolver==1.5.0
legacy-cgi==2.6.4
lensfun==0.3.4
LibAppArmor==4.1.7
libtorrent==2.0.13
lit==22.1.6.dev0
lxml==6.1.1
lxml_html_clean==0.4.5
Mako==1.3.11.dev0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.9
mechanize==0.4.10
meson==1.11.1
moddb==0.14.0
more-itertools==11.1.0
msgpack==1.1.2
multivolumefile==0.2.3
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.4.6
orjson==3.11.9
packaging==26.2
pathvalidate==3.3.1
patool==4.0.4
pdftotext==2.2.2
pefile==2024.8.26
pillow==12.2.0
pkg_resources==81.0.0
platformdirs==4.10.0
protontricks==1.14.1
psutil==7.2.2
pwquality==1.4.5
py7zr==1.1.2
pybcj==1.0.7
pycairo==1.29.0
pychm==0.8.6
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
pycurl==7.46.0
pydantic==2.13.4
pydantic_core==2.46.4
pygame==2.6.1
Pygments==2.20.0
PyGObject==3.56.3
pykakasi==2.3.1.dev0
pynvim==0.6.0
pyparsing==3.3.2
pyppmd==1.2.0
PyQt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6_sip==13.11.1
python-dateutil==2.9.0
python-discovery==1.4.0
python-steamgriddb==1.0.5
python-xlib==0.33
pyxdg==0.28
PyYAML==6.0.3
pyzstd==0.19.1
QTermWidget==2.4.0
Reflector==2023.6.28.0.36.1
regex==2026.5.9
requests==2.34.2
setproctitle==1.3.7
setuptools==82.0.1
sgmllib3k==1.0.0
shtab==1.8.0
six==1.17.0
smbus==1.1
soupsieve==2.8.4
TBB @ file:///startdir/src/build/python/python_build
texttable==1.7.0
tqdm==4.68.1
typing-inspection==0.4.2
typing_extensions==4.15.0
ufw==0.36.2
umu-launcher==1.4.0
unrardll==0.1.7
urllib3==2.7.0
VapourSynth==76
vdf==4.0
virtualenv==21.4.2
vkbasalt-cli==3.1.1
webencodings==0.5.1
wheel==0.47.0
wrapt==2.1.2
xxhash==3.7.0
yara-python==4.5.5
yt-dlp==2026.6.9
yt-dlp-ejs==0.8.0
zeroconf==0.149.1
zstandard==0.25.0
